/* This .css file contains the main formating I used for buttons/text/labels etc */
#playPauseButton {
    background-color: rgb(101, 159, 224);
    color: rgb(0, 0, 0);
    border-color: white;
    border-radius: 1px;
    border-width: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    cursor: pointer;
    font-weight: bold;
  }

  #textFormat {
    fill: white;
    font-size: x-small;
    top: 20px;
    left: 20px;
  }
  .nav-button:hover:hover {
    opacity: 0.8;
}

#selectSongLabel {
    color: rgb(255, 255, 255); 
    background-color: transparent; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: large; 
    font-weight: bold; 
}

#helpButton {
  position: fixed; 
  right: 20px;    
  bottom: 20px;  
  z-index: 1000;  
}


